# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
vs/.vs
vs/Debug
vs/Release
vs/x64
vs/HelloWorld/Debug
vs/HelloWorld/Release
vs/HelloWorld/x64
vs/HelloLib/Debug
vs/HelloLib/Release
vs/HelloLib/x64

